*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}


html,body{
    position: sticky;
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 0;
	font-size: 14px;

}

@font-face {
    font-family: Cocon-Regular; 
    src: url(2921-font.otf); 
}
@font-face {
    font-family: Segoe UI; 
    src: url(SegoeUI.ttf); 
}
@font-face {
    font-family: Roboto; 
    src: url(Roboto.ttf); 
}


.menu{
    width: 300px;
    height: 100vh;
    position: fixed;
    left: 10px;
    top: 10px;
    background: #ffffff;
    z-index:8;
    border-radius: 10px;

    &__item{
        height: 46px;
        margin-left: 16px;
        align-items: center;
        margin-right: 16px;
    }

    &__item:hover{
        filter: invert(49%) sepia(100%) saturate(4948%) hue-rotate(198deg) brightness(110%) contrast(100%);
    
    }
    &__link{
        display: flex;
        text-decoration: none;
        color: rgba(0, 32, 51, 0.4);
        font-family: Segoe UI;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 21px;
        align-items: center;
    }
    
    
    &__link-icon{
        margin-top: 8px;
        margin-bottom: 8px;
        margin-left: 10px;
        height: 30px;
        width: 30px;
        margin-right: 20px;
        &--mobile{
            display: none;
        }
    }

    &__item--mobile{
        display: none;
    }

    &__item--tablet{
        display: none;
    }
    @media only screen and (min-width: 500px) and (max-width: 1370px){
        width: 80px;
        border-radius: 0;
        &__item--tablet{
            display: block;
        }

        .logo2{
            display: none;
        }
        &__link-icon{
            height: 26px;
            width: 26px;
        }
        &__item{
            height: 42px;
            &--main{
                display: none;
            }
        }
        &__link-icon--mobile{
            display: block;
        }
        &__separator{
            display: none;
        }
        &__text{
            display: none;
        }
        &__button{
            display: none;
        }
        &__link--mobile{
            display: flex;
        }
    }
    @media only screen and (min-width: 10px) and (max-width: 499px){
        width: 100%;
        height: 100vh;
        left: 0;
        top: 0;
        border-radius: 0;
        display: none;
        &__item{
            height: 32px;
            margin-left: 16px;
            align-items: center;
            margin-right: 16px;
        }
    }
    &-active{
        @media only screen and (min-width: 500px) and (max-width: 1370px){
            position: fixed;
            background: #ffffff;
            z-index:8;
            width: 300px;
            border-radius: 0;
            .menu__item--tablet{
                display: block;
            }
            .logo1{
                display: none;
            }
            .logo2{
                display: block;
            }
            .menu__link-icon{
                height: 26px;
                width: 26px;
            }
            .menu__item{
                height: 42px;
            }
            .menu__link-icon--mobile{
                display: block;
            }
            .menu__separator{
                display: none;
            }
            .menu__text{
                display: block;
            }
            .menu__button{
                display: block;
            }
            .menu__link--mobile{
                display: flex;
            }
        }
        @media only screen and (min-width: 10px) and (max-width: 499px){
            width: 100%;
            left: 0;
            top: 0;
            border-radius: 0;
            display: none;
        }
    }
}

.mobile-menu{
    position: fixed;
    z-index: 10;
    height: 50px;
    width: 100vw;
    display: none;
    background: #ffffff;
    &__item{
        display: flex;
        height: 50px;
        width: 100vw;
    }
    &__burger{
        float: right; 
        background: #3486E8;
        display: inline-block;
        cursor: pointer;
        width: 50px;
        height: 50px;
        &-Active{
            .mobile-menu__item-1{
                transform: rotate(-45deg) translate(-4px,4px);
            }
            .mobile-menu__item-2{
                opacity: 0;
            }
            .mobile-menu__item-3{
                transform: rotate(45deg) translate(-4px,-4px);
            }
        }
    }
    &__item-1{
        margin-top:18px;
    }
    &__item-1, &__item-2, &__item-3 {	
        background-color: #FFFFFF;
        width: 22px;
        height: 2px;
        margin-left:14px;
        margin-bottom:4px;
    }
    
      
    @media only screen and (min-width: 10px) and (max-width: 499px){
        display: block;
    }
}

.active{
    background: #3485e811;
    filter: invert(49%) sepia(100%) saturate(4948%) hue-rotate(198deg) brightness(110%) contrast(100%);
    border-radius: 8px;
}
.layout{
    display: block;
    margin-left: 315px;
    margin-right: 5px;
    @media only screen and (min-width: 500px) and (max-width: 1370px){
        margin-left: 95px;
    }
    @media only screen and (min-width: 10px) and (max-width: 499px){
        margin-left: 5px;
    }
}
.container{
    max-width: 1160px;
    margin: 0px auto;
}

.logo{
    display: block;
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-image: url("../img/ngkvest.png");

    &__content{
        padding-top: 20%;
    }

    &__title{
        font-family: Cocon-Regular;
        font-style: normal;
        font-weight: 500;
        font-size: 72px;
        line-height: 99px;
        letter-spacing: 0.05em;
        text-shadow: #ffffff 0 0 10px;
        color: #FFFFFF;
        margin-bottom: 40px;
    }


    &__text{
        font-family: Segoe UI;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 24px;
        margin-bottom: 40px;
        color: #FFFFFF;

        opacity: 0.8;
    }

    &__btn{
        cursor: pointer;
        display: flex;
        width: 240px;
        height: 56px;
        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        font-size: 12px;
        line-height: 14px;
        align-items: center;
        text-align: center;
        text-transform: uppercase;
        background: #C6103C;
        border-radius: 40px;
        border: solid 6px;
        border-color: #C6103C;;
        
        color: #FFFFFF;
        &-left{
            border-bottom-left-radius:40px;
            border-top-left-radius:40px;
            height: 44px;
            width: 22px;
            background: linear-gradient(270deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.46) 100%);;
            opacity: 0.3;
        }
        &-center{
            width: 196px;
        }
        &-right{
            height: 44px;
            border-bottom-left-radius:40px;
            border-top-left-radius:40px;
            width: 22px;
            background: linear-gradient(270deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.46) 100%);
            transform: rotate(-180deg);
            opacity: 0.3;
        }
        
    }
    @media only screen and (min-width: 10px) and (max-width: 499px){
        background-position-x: -400px;
        &__title{
            font-size: 42px;
            line-height: 30px;
            text-align: center;

        }
        &__btn{
            margin:0 auto;
        }

    }
}

.item-about {
	&__icon {
		width: 360px;
		height: 330px;
        background: linear-gradient(180deg, #214C9C 0%, #2254B0 100%);
        border: 3px solid #FFFFFF;
        box-sizing: border-box;
        box-shadow: 0px 4px 40px rgba(59, 125, 192, 0.5);
        border-radius: 20px;
		display: flex;
		align-items: center;
		justify-content: center;
        margin-bottom: 67px;
	}
	&__title {
        font-family: Segoe UI;
        font-style: normal;
        font-weight: bold;
        font-size: 22px;
        line-height: 29px;
        text-align: center;
        
        color: #000000;
		text-transform: uppercase;
		letter-spacing: 3.52px;
		margin: 0px 0px 35px 0px;
	}
	&__text {
		color: #333333;
	}
    @media only screen and (min-width: 10px) and (max-width: 499px){
        &__icon {
            width: 300px;
            height: 270px;
        }
    }

}
.item-top{
    top: -40px;
    position: relative;
    &-left{
        position: absolute;
        left: -10px;
    }
    &-center{
        position: absolute;
        right: 0;
    }
    &-right{
        position: absolute;
        right: 0;
    }
}

.about{
    &__title{
        color: #1B4698;
    }
    &__row {
		display: flex;
        flex-wrap: wrap;
		font-size: 0;
		margin: 0px -15px;
        @media only screen and (min-width: 10px) and (max-width: 499px){
            justify-content: center;
        }
	}
	&__column {
		padding: 0px 15px;
		flex: 0 0 33.333%;
	}
}

.countdown{
    text-align: center;
    background: linear-gradient(180deg, #214C9C 0%, #2254B0 100%);
    &__items{
        display: flex;
        justify-content: center;
        text-align: center;
        margin-bottom: 60px;
    }

    &__top{
        width: 100%;
    }

    &__bottom{
        margin-top: 60px;
        margin-bottom: 0;
        padding-bottom: 0;
        width: 100%;
    }

    &__text{
        color: rgba(255, 255, 255, 0.7);
    }
    &__item{
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 36px;
        line-height: 100%;
        margin-right: 30px;
        margin-left: 30px;
        color: #FFFFFF;
    }

    &__item-text{
        font-family: Segoe UI;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 19px;

        color: #FFFFFF;

        opacity: 0.5;
    }

    &__title{
        margin-top: 40px;
        padding-top: 90px;
        color: #FFFFFF;
    }

    &__text{
        color: #FFFFFF;
    }

    &__btn{
        cursor: pointer;
        margin:0 auto;
        display: flex;
        width: 240px;
        height: 56px;
        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        font-size: 12px;
        line-height: 14px;
        align-items: center;
        text-align: center;
        text-transform: uppercase;
        background: #3297FF;
        border-radius: 40px;
        border: solid 6px;
        border-color: #3297FF;
        
        color: #FFFFFF;
        &-left{
            border-bottom-left-radius:40px;
            border-top-left-radius:40px;
            height: 44px;
            width: 22px;
            background: linear-gradient(270deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.46) 100%);;
            opacity: 0.3;
        }
        &-center{
            width: 196px;
        }
        &-right{
            height: 44px;
            border-bottom-left-radius:40px;
            border-top-left-radius:40px;
            width: 22px;
            background: linear-gradient(270deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.46) 100%);
            transform: rotate(-180deg);
            opacity: 0.3;
        }
        
    }
    @media only screen and (min-width: 10px) and (max-width: 499px){
        &__item{
            margin-right: 15px;
            margin-left: 15px;
        }
    }
}

.video{
    &__iframe{
        position: relative;
        padding-bottom: 56.25%;
        padding-top: 30px;
        height: 0;
        overflow: hidden;

        & iframe {
            position: absolute;
            top:0;
            left: 0;
            width: 100%;
            height: 100%;
   
        }
    }

    &__title{
        margin-top: 120px;
        color: #1B4698;
    }
}

.slaider{
    display: block;
    &__title{
        margin-top: 120px;
        color: #1B4698;
    }
    &__text{
        margin-top: 32px;
    }
    &__image{
        width: 100%;
    }

    &__items{
        position: relative;
    }
    &__item{
        display: none;
    }
    &__active{
        display: block;
    }
    
    &__btn-previous{
        background-color: rgba(0, 0, 0, 1);
        background-image: url("../img/arrow-left.png");
        background-size:100% 100%;
        cursor: pointer;
        position: absolute;
        left: 40px;
        top: 50%;
        transform:translate( 0,-50%);
        width: 42px;
        height: 42px;
        border-radius: 50%;
    }
    &__btn-next{
        background-color: rgba(0, 0, 0, 1);
        background-image: url("../img/arrow-right.png");
        background-size:100% 100%;
        cursor: pointer;
        position: absolute;
        right: 40px;
        top: 50%;
        transform:translate(0, -50%);
        width: 42px;
        height: 42px;
        border-radius: 50%;
    }
    &__navigate{
        position: absolute;
        bottom: 5%;
        left:50%;
        transform:translate(-50%, -50%);
        display: flex;
    }
    &__nav{
        width: 60px;
        height: 3.99px;
        left: 10%;
        bottom: 30px;
        margin-right: 16px;
        cursor: pointer;
        background: rgba(255, 255, 255, 0.5);
    }
    &__nav-active{
        background: #FFFFFF;
    }
    @media only screen and (min-width: 10px) and (max-width: 499px){
        &__btn-previous{
            left: 10px;
        }
        &__btn-next{
            right: 10px;
        }
    }
}

.noActive{
    opacity: 0.7;
} 

.list{
    &__title{
        margin-top: 160px;
        color: #1B4698;
    }
    &__subtitle-actual, &__subtitle-past{
        font-family: Segoe UI;
        cursor: pointer;
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 24px;
        width: 260px;
        border-bottom: 2px solid #1B4698;
        text-align: center;
        color: #1B4698;  
    }
    &__subtitels{
        justify-content:center;
        display: flex;
        margin-bottom: 40px;
    }
    &__sort{
        cursor: pointer;
        display: block;
        position: relative;
        margin-bottom: 39px;
        font-family: Segoe UI;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 21px;

        color: #3297FF;
        display: block;
        &-items{
            z-index: 5;
            width: 180px;
            height: 88px;
            text-align: left;
            background-color: #ffffff;
            box-shadow: 0 0 2px rgba(0,0,0,0.5);
            position: absolute;
            display: none;
        }
        &:hover{
            .list__sort-items{
                display: block;
            }
        }
        &-item{
            padding-top: 17px;
            padding-left: 16px;
            border-radius: 2px;
            font-family: Segoe UI;
            font-style: normal;
            font-weight: normal;
            font-family: Segoe UI;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 21px;
            
            color: #626262;
            
            opacity: 0.5;;
        }
    }
    &__more-btn{
        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        font-size: 12px;
        line-height: 14px;
        cursor: pointer;
        width: 240px;
        height: 56px;
        background: #ffffff;
        margin-top: 60px;
        margin-left: 40%;

        border: 1px solid #3297FF;
        box-sizing: border-box;
        border-radius: 40px;

        color: #3297FF;
        @media only screen and (min-width: 10px) and (max-width: 499px){
            position: relative;
            margin-left: 10%;
        }
    }

    &__video{
        display: flex;
        flex-wrap: wrap;
        & .list__card:nth-child(1n + 7) {
            display: none;
        }
        & .list__card:nth-child(3n) {
            margin-right: 0;
        }
        @media only screen and (min-width: 10px) and (max-width: 499px){
            justify-content: center;
        }
    }
    &__card{
        margin-right: 40px;
        margin-bottom: 40px;
        background: #FAFBFF;
        border-radius: 12px;
        width: 360px;
        height: 408px;
        @media only screen and (min-width: 10px) and (max-width: 499px){
            margin-right: 0;
        }
    }
    &__card-video{
        cursor: pointer;
        position: relative;
        margin-bottom: 30px;
        &:hover{
            .list__card-play{
                background-color: #00000077;
            }
        }
    }
    &__card-img{
        border-top-right-radius:12px;
        border-top-left-radius:12px;
        width: 100%;
    }
    &__card-play{

        width: 48px;
        height: 48px;
        background-color: #ffffff77;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        margin: auto;
        img{
            transform:translate( 15px,11px);
        }
        border-radius: 50%;
    }
    &__popap{
        height: 100vh;
        position: fixed;
        left: 0;
        top: 0;
        z-index:9;
        width: 100vw;
        height: 100vh;
        background: rgba(0, 0, 0, 0.5);
        display: none;
        &-close{
            position: relative; 
            float: right; 
            margin-right: -50px;
            margin-top: -40px;
            height: 40px;
            width: 40px;
            background-image: url("../img/error1.png");
            border-radius: 50%;
        }
        &-close:hover{
            cursor: pointer;
            background-color: rgb(0, 0, 0);
        }
        &-container{
            margin-left: auto;
            margin-right: auto;
            margin-top: 3%;
            width: 70%;
            @media only screen and (min-width: 10px) and (max-width: 499px){
                margin-top: 40%;
            }
        }
        &-video{
            position: relative;
            padding-bottom: 56.25%;
            height: 0;
            overflow: hidden;
    
            & iframe {
                position: absolute;
                border-radius: 20px;
                top:0;
                left: 0;
                width: 100%;
                height: 100%;
       
            }
        }
    }
    &__card-title{
        font-family: Roboto;
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 100%;
        color: #000000;
        margin-bottom: 20px;
        margin-left: 20px;
        margin-right: 20px;
    }
    &__card-text{
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 110%;
        color: rgba(0, 32, 51, 0.7);
        margin-left: 20px;
        margin-right: 20px;
    }

    &__image{
        display: flex;
        flex-wrap: wrap;
        & .list__group:nth-child(3n) {
            margin-right: 0;
        }
        & .list__group:nth-child(1n + 7) {
            display: none;
        }
        @media only screen and (min-width: 10px) and (max-width: 499px){
            justify-content: center;
        }
    }



    &__group{
        background: #FAFBFF;
        border-radius: 12px;
        width: 360px;
        height: 550px;
        margin-right: 40px;
        margin-bottom: 40px;
        @media only screen and (min-width: 10px) and (max-width: 499px){
            width: 300px;
            height: 490px;
            margin-bottom: 40px;
            margin-right: 0;
        }
        
        &-img{
            width: 100%;
            height: auto;
            margin-bottom: 24px;
        }
        &-title{
            font-family: Roboto;
            font-style: normal;
            font-weight: 500;
            font-size: 20px;
            line-height: 100%;

            color: #000000;
            margin-bottom: 16px;
            margin-left: 20px;
            margin-right: 20px;
        }
        &-title-mini{
            font-family: Roboto;
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 100%;
            margin-bottom: 32px;
            margin-left: 20px;
            margin-right: 20p
        }

        &-tex{
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 7;
            -webkit-box-orient: vertical;
            height: 10em;
            margin-bottom: 32px;
        }
        &-text{

            font-family: Roboto;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 110%;
            margin-bottom: 32px;
            margin-left: 20px;
            margin-right: 20px;
            color: rgba(0, 32, 51, 0.7);
        }
        &-text2{
            font-size: 16px;
            line-height: 110%;
            margin-bottom: 32px;
            margin-left: 20px;
            margin-right: 20px;
            color: rgba(0, 32, 51, 0.7);
        }
        &-date{
            font-family: Roboto;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 100%;
            margin-bottom: 24px;
            margin-left: 20px;
            margin-right: 20px;
            color: #60829A;

            opacity: 0.8;
        }
        &-open{
            width: 320px;
            height: 50px;

            font-family: Segoe UI;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 120%;
            margin-bottom: 30px;
            margin-left: 20px;
            margin-right: 20px;
            color: #3486E8;
            border: 1px solid #3486E8;
            box-sizing: border-box;
            border-radius: 40px;
            background: #f2f5f900;
            cursor: pointer;
            @media only screen and (min-width: 10px) and (max-width: 499px){
                width: 290px;
                margin-left: 5px;
                margin-right: 5px;
            }
                        
        }
    }
    &__popapim{
        .list__group-tex{
            overflow: auto;
            font-family: Roboto;
            font-style: normal;
            font-weight: normal;
            height: 20em;
            &::-webkit-scrollbar {
                width: 10px;
                background-color: #ffffff;
            }
            &::-webkit-scrollbar-thumb {
                border-radius: 10px;
                background-color: #3486E8;
            }
            &::-webkit-scrollbar-track {
                border-radius: 10px;
                background-color: #ffffff;
            }
        }
        .body {overflow: hidden;}
        height: 100vh;
        position: fixed;
        left: 0;
        top: 0;
        z-index:9;
        width: 100vw;
        height: 100vh;
        background: rgba(0, 0, 0, 0.5);
        display: none;
        &-close{
            position: relative; 
            float: right; 
            margin-right: -50px;
            margin-top: -40px;
            height: 40px;
            width: 40px;
            background-image: url("../img/error1.png");
            border-radius: 50%;
        }
        &-close:hover{
            cursor: pointer;
            background-color: rgb(0, 0, 0);
        }
        &-container{
            background: #FFFFFF;
            border-radius: 20px;
            margin-left: auto;
            margin-right: auto;
            margin-top: 3%;
            width: 30%;
            height: 80%;
            @media only screen and (min-width: 10px) and (max-width: 499px){
                margin-top: 100px;
                width: 80%;
                height: 70%;
            }
        }
    }
}

.text{
    font-family: Segoe UI;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    margin-bottom: 60px;

    opacity: 0.8;
}

.title{
    font-family: Cocon-Regular;
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 100%;
    margin-bottom: 40px;
    text-align: center;
}

.stop-scrolling {
    height: 100%;
    overflow: hidden;
  }